body {
  background-color: #141414;
  margin-top: 80px;
  margin-left: 20px;
}
.card-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}

.card {
  width: 300px;
  border: 1px solid #79a76e;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(255, 175, 175, 0.1);
  background-color: #272825;
  overflow: hidden;
  position: relative;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text */
  height: 100%;
}

.card-price {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.card img {
  width: 100%;
  height: 200px;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 20px;
  margin: 0;
  color: white;
}

.card-content p {
  max-width: 250px;
  max-height: 90px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: pre-line;
  color: white;
}
.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn-rmv {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.card-content .btn:hover {
  background-color: #0056b3;
}

.total-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
}

.total-box {
  background: linear-gradient(to right, #4e9b5d, #26963d);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 16px;
  text-align: center;
  color: #fff;
}

.total-box h4 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.total-price {
  font-weight: bold;
  font-size: 20px;
}

.green-button {
  background-color: green;
  color: white;
}
.disable {
}
